<p id="notice"><%= notice %></p>

<h1>Sentiments</h1>

<table>
  <thead>
    <tr>
      <th>Is bearish</th>
      <th>Comment</th>
      <th>User</th>
      <th>Stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sentiments.each do |sentiment| %>
      <tr>
        <td><%= sentiment.is_bearish %></td>
        <td><%= sentiment.comment %></td>
        <td><%= sentiment.user_id %></td>
        <td><%= sentiment.stock_id %></td>
        <td><%= link_to 'Show', sentiment %></td>
        <td><%= link_to 'Edit', edit_sentiment_path(sentiment) %></td>
        <td><%= link_to 'Destroy', sentiment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sentiment', new_sentiment_path %>
