<p id="notice"><%= notice %></p>

<p>
  <strong>Is bearish:</strong>
  <%= @sentiment.is_bearish %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @sentiment.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @sentiment.user_id %>
</p>

<%= link_to 'Edit', edit_sentiment_path(@sentiment) %> |
<%= link_to 'Back', sentiments_path %>
