<p id="notice"><%= notice %></p>

<div class="bg-primary h-100">
  <h1 class="text-2xl text-center py-6 text-white">All Sell Orders</h1>

  <div class="flex justify-center w-full">
    <div class="rounded-lg border bg-white shadow m-5 w-96">
      <%# Loop to show all the available orders %>
      <% @sell_orders.each do |sell_order| %>
      <div class="p-2">
        <div class="p-3 rounded-lg border bg-gray-200 shadow flex flex-row justify-between">
          <div class="flex flex-column">
            <ul>
              <li class="text-lg"><%= sell_order.stock.name %></li>
              <li><%= number_to_currency(sell_order.price) %> (Quantity: <%= sell_order.quantity %>)</li>
              <li>Expires: <%= sell_order.expiry_date %></li>
              <% sell_order.filled %>
            </ul>
          </div>
          <div class="w-10">
            <%= link_to image_tag("show-dot.png"), sell_order %>
          </div>
        </div>
      </div>
      <% end %>

      <%# Place Order %>
      <% if user_signed_in? %>
      <div class="p-1">
        <div class="p-3 rounded-lg border bg-secondary shadow grid justify-item-stretch">
          <p class="text-lg text-white text-center">+ <%= link_to 'Place Order', new_sell_order_path, class: "justify-self-auto" %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>