<p id="notice"><%= notice %></p>

<h1>My Sell Orders</h1>

<table>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Price</th>
      <th>Expiry date</th>
      <th>Stock</th>
      <th>Seller</th>
      <th>Buyer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @own_orders.each do |own_order| %>
      <tr>
        <td><%= own_order.quantity %></td>
        <td><%= own_order.price %></td>
        <td><%= own_order.expiry_date %></td>
        <td><%= own_order.stock_id %></td>
        <td><%= own_order.seller_id %></td>
        <td><%= own_order.buyer_id %></td>
        <td><%= link_to 'Show', own_order %></td>
        <td><%= link_to 'Edit', edit_sell_order_path(own_order) %></td>
        <td><%= link_to 'Destroy', own_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sell Order', new_sell_order_path %>
